.feature-section {
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 100px;
  }
  
  .center-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    margin-bottom: 20px;
  }
  
  .break-line{
    display: block;
  }
  
  .center-heading1 {
    font-weight: 400;
    letter-spacing: -3px;
    font-size: 40px;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 1);
  }
  
  .feature-boxes {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .feature-box1 {
    background-color: rgba(18, 19, 22, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: left;
    box-shadow: -2px 2px 0px 0px rgba(15, 66, 122, 1) inset;
  }
  
  .feature-box2 {
    background-color: rgba(18, 19, 22, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: left;
    box-shadow: 0px 2px 0px 0px rgba(15, 66, 122, 1) inset;
  }

  .feature-box3 {
    background-color: rgba(18, 19, 22, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: left;
    box-shadow: 2px 2px 0px 0px rgba(15, 66, 122, 1) inset;
  }

  .feature-box img {
    width: 64px;
    height: 64px;
  }
  
  .feature-boxes h3 {
    margin-left: 15px;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 22px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 1);
  }
  
  .feature-boxes p {
    margin-left: 15px;
    margin-bottom: 13px;
    font-size: 16px;
    letter-spacing: -1px;
    color: rgba(100, 112, 131, 1);
  }
  
  @media screen and (max-width: 768px) {
    .feature-box {
      flex: 1 1 100%;
    }
    .center-heading1 {
      
      letter-spacing: 0px;
      font-size: 20px;
      
    }
  }
  